<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GymBro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <div class="row" id="nav">
        <div class="col-3" id="logo">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" id="logo-image" >
            </div>
        </div>
        <div class="col-9">
            <div class="text-center">
                <a href="{{url_for('macroOverview') }}" class="current-page" >Macro Overview</a>
                <a href="{{ url_for('mealPlanning') }}"`>Meal Planning</a>
                <a href="{{ url_for('workoutPlanner') }}">Workout Planner</a>
                <a href="{{ url_for('settings') }}">Settings</a>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1 class="display-1" id="head-text">Macronutrients</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div id="protein-text-div">
                    <h2 id="protein-text-h2">Protein</h2>
                </div>
                <div id="protein-progress-percentage-div">
                    <h2 id="protein-progress-percentage">
                        <span id="macro-protein">{{protein}}</span>
                    </h2>

                </div>
                <div class="progress" id="protein-progress">

                    <div class="progress-bar bg-success" id="protein-progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"  ></div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div id="carbs-text-div">
                    <h2 id="carbs-text-h2">Carbs</h2>
                </div>
                <div id="carbs-progress-percentage-div">
                    <h2 id="carbs-progress-percentage">
                        <span id="macro-carbs">{{carbs}}</span>
                    </h2>

                </div>
                <div class="progress" id="carbs-progress">

                    <div class="progress-bar bg-info" id="carbs-progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"  ></div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div id="fat-text-div">
                    <h2 id="fat-text-h2">Fat</h2>
                </div>
                <div id="fat-progress-percentage-div">
                    <h2 id="fat-progress-percentage">
                        <span id="macro-fat">{{fat}}</span>
                    </h2>

                </div>
                <div class="progress" id="fat-progress">

                    <div class="progress-bar bg-warning" id="fat-progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"  ></div>
                </div>

            </div>
        </div>
    </div>

</div>
</body>


</html>


