.container{
    background-color: #121212;
    min-height: 100vh;
    min-width: 100vw;
}
#head-text{
    color: purple;
    margin-bottom: 50px;
}
#protein-text-h2 {
    color: red;
}
#protein-progress-bar{

}
#protein-progress{
    margin-bottom: 50px;
}